---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Druids Heath Calendar">
  <section class="my-12">
    <div class="space-content container">
      <h1 class="text-4xl md:text-left lg:text-6xl">Druids Heath Calendar</h1>
      <p class="text-2xl">Community Events in Druids Heath</p>
    </div>
  </section>
  <section class="space-content container">
    <div class="pb-12">
      <iframe
        src="https://embed.styledcalendar.com/#u7chYatMNwL7JUA9bFAS"
        title="Druids Heath Calendar"
        class="styled-calendar-container"
        style="width: 100%; border: none;"
        data-cy="calendar-embed-iframe"></iframe>
      <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
    </div>
  </section>
</DefaultLayout>
