---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Druids Heath Calendar">
  <section class="my-12">
    <div class="space-content container">
      <h1 class="text-4xl md:text-left lg:text-6xl">Druids Heath Calendar</h1>
      <p class="text-2xl">Community Events in Druids Heath</p>
    </div>
  </section>
  <section class="space-content container p-5">
    <script type="text/javascript" src="https://stylemygcal.com/widget.js"></script>
    <div class="smgc-calendar-placeholder" id="smgc-cal-cr0XRhJsbN19Y985c2IF"></div>
  </section>
</DefaultLayout>
