---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Where we'll work</h2>
    <p class="text-2xl">
      We're interested in working with people to improve the spaces outside residents homes. This includes front gardens, streets and the green spaces next to them.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>What we'll do</h2>
    <p class="text-2xl">
We'll collaborate with people to plant these areas, remove rubbish, and conserve wildlife. We will also seek to improve personal security, health and safety and footpaths.
    </p>
  </ContentMedia>
    <ContentMedia imgSrc="/accessible-components.webp">
    <h2>How we'll earn trust</h2>
    <p class="text-2xl">
      We'll earn trust in the local community by undertaking practical tasks.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>How we'll keep people informed</h2>
    <p class="text-2xl">
We'll keep local people informed about proposed projects and other matters of interest.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/accessible-components.webp">
    <h2>What we'll do next</h2>
    <p class="text-2xl">
      We'll work to develop the provision of services and activities in Druids Heath. We will do this by listening to positive ideas from the local community.
    </p>
  </ContentMedia>
  <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="130" title="Bags of rubbish" sub="Collected" />
        <Counter count="17" title="Volunteers" sub="Signed up" />
        <Counter count="500" title="People we've spoken to" sub="About Our Work" />
        <Counter count="1" title="Month" sub="Since launch" />
      </div>
    </div>
  </section>
</DefaultLayout>
