---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon'
---

<header>
  <SkipLinks />
  <div class ="announcemen-bar"></div>
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/blog/">Blog</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Projects</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="/mdx-page/">Street Champions</a>
        </li>
        <li class="submenu-item">
          <a href="/markdown-page/">The Weekly Litter Pick</a>
        </li>
        <li class="submenu-item">
          <a href="/accessible-components">Growing Safety</a>
        </li>
      </ul>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  div.announcemen-bar{
    background-color: #0eb2ce;
    height: 25px;
  }

  header {
    .type-icon a {
      display: block;

      [astro-icon] {
        margin-top: -4px;
        width: 40px;

        path {
          fill: var(--action-color);
          transition: fill 0.2s ease-in-out;
        }
      }



      &:hover {
        [astro-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
