---
import { Icon } from 'astro-icon'

const { src = '/astronaut-hero-img.webp' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-4xl md:text-left lg:text-6xl">
          <slot><span class="text-gradient">Coming together</span> to make Druids Heath better</slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="/volunteer-sign-up">
            <Icon pack="ion" name="star-outline" />
            Make your area better
          </a>
        </div>
      </div>
      <img class="hidden lg:block" src={src} alt="9 volunteers standing under a tree with many bags of rubbish that they worked hard to collect" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-100) 25%, var(--secondary-100));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
