---
import '@astrojs/tailwind/base.css'
import '../assets/scss/globals.scss'
import SiteMeta from '../components/SiteMeta.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { AstroFont } from 'astro-font'

const {
  title = 'Grassroots Druids Heath',
  description = 'Coming together to make Druids Heath better.',
  url,
  image = '/GRDH-Meta.png',
  author = 'Phil Burrows',
} = Astro.props

const fontSources = [
  {
    style: 'bold',
    weight: '900',
    path: './public/fonts/OpenSans-ExtraBold.woff2',
  },
  {
    preload: true,
    style: 'bold',
    weight: '800',
    path: './public/fonts/OpenSans-Bold.woff2',
  },
  {
    style: 'italic',
    weight: '400',
    path: './public/fonts/OpenSans-Italic.woff2',
  },
  {
    style: 'normal',
    weight: '400',
    path: './public/fonts/OpenSans-Regular.woff2',
  },
]
---

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />

    <SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={Astro.site
        ? `${Astro.site}/${title.toLowerCase().replaceAll(' ', '-')}`
        : `https://accessible-astro.dev/${title.toLowerCase().replaceAll(' ', '-')}`}
      image={image}
      author={author}
    />

    <AstroFont
      config={[
        {
          name: 'Open Sans',
          src: fontSources,
          preload: false,
          display: 'swap',
          fallback: 'sans-serif',
          cssVariable: 'font-family-default',
        },
        {
          name: 'naivelinesansextrablack',
          src: [
            {
              style: 'bold',
              weight: '900',
              path: './public/fonts/naivelinesansextrablack-webfont.woff2',
            },
          ],
          preload: false,
          display: 'swap',
          fallback: 'sans-serif',
          cssVariable: 'font-family-special',
        },
      ]}
    />
  </head>
  <body>
    <Header />
    <main id="main-content" transition:animate="fade">
      <slot />
    </main>
    <Footer />
    <style lang="scss" is:global>
      // theme settings
      :root {
        --radius-small: 3px;
        --radius-large: 6px;
        --gap-default: 2rem;
        --font-measure: 70ch;
        --font-family-default: 'Open Sans', sans-serif;
        --font-family-special: 'naivelinesansextrablack', sans-serif;
        // light theme
        --font-color: var(--neutral-900);
        --action-color: var(--primary-300);
        --action-color-state: var(--primary-500);
        --background: var(--neutral-100);
        --primary-background: var(--primary-100);
        --neutral-background: var(--neutral-200);
      }

      // dark color scheme overrides
      .darkmode {
        --font-color: var(--neutral-100);
        --action-color: var(--secondary-100);
        --action-color-state: var(--secondary-500);
        --background: var(--dark-100);
        --primary-background: var(--primary-500);
        --neutral-background: var(--neutral-900);
      }

      // sticky footer on low content pages
      html,
      body {
        height: 100%;
        overflow-x: hidden;
      }

      body {
        display: flex;
        flex-direction: column;
        color: var(--font-color);
        background-color: var(--background);

        main {
          flex: 1 0 auto;
        }

        footer {
          flex-shrink: 0;
        }
      }

      pre {
        padding: 1rem;
        border-radius: 0.35rem;
        border: 2px solid var(--action-color);
      }

      body .pagination a {
        &:hover,
        &:focus-visible {
          background-color: var(--action-color-state);

          svg path {
            stroke: white;
          }
        }
      }
    </style>
    <script type="text/javascript">
      var EhAPI = EhAPI || {}
      EhAPI.after_load = function () {
        EhAPI.set_account('7iqi7t5u41pvvkf142kbaagibo', 'druidsheathuk')
        EhAPI.execute('rules')
      }
      ;(function (d, s, f) {
        var sc = document.createElement(s)
        sc.type = 'text/javascript'
        sc.async = true
        sc.src = f
        var m = document.getElementsByTagName(s)[0]
        m.parentNode.insertBefore(sc, m)
      })(document, 'script', '//d2p078bqz5urf7.cloudfront.net/jsapi/ehform.js?v' + new Date().getHours())
    </script>
  </body></html
>
